--
-- PostgreSQL database dump
--

\restrict 60r9gSSlvZdEM1SImofoUACjCBGk8NOeWlKFa3h9PDechmQo1ahGbb0iSVWBF1S

-- Dumped from database version 17.5 (6bc9ef8)
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AccidentReports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."AccidentReports" (
    "AccidentId" integer NOT NULL,
    "VehicleId" integer NOT NULL,
    "ContractId" integer,
    "StaffId" integer,
    "Description" text,
    "Location" text,
    "ReportedAt" timestamp with time zone NOT NULL,
    "Status" integer NOT NULL,
    "ImageUrl" text
);


--
-- Name: AccidentReports_AccidentId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."AccidentReports" ALTER COLUMN "AccidentId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AccidentReports_AccidentId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AccountDocuments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."AccountDocuments" (
    "DocumentId" integer NOT NULL,
    "AccountId" integer NOT NULL,
    "Type" integer NOT NULL,
    "FileUrl" text NOT NULL,
    "Side" integer NOT NULL,
    "UploadedAt" timestamp with time zone NOT NULL,
    "IsVerified" boolean NOT NULL,
    "VerifiedAt" timestamp with time zone,
    "StaffId" integer,
    "DocumentNumber" text
);


--
-- Name: AccountDocuments_DocumentId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."AccountDocuments" ALTER COLUMN "DocumentId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AccountDocuments_DocumentId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Accounts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Accounts" (
    "AccountId" integer NOT NULL,
    "FullName" text,
    "Email" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "PhoneNumber" text,
    "IdentityCardNumber" text,
    "Status" integer NOT NULL,
    "RegisteredAt" timestamp with time zone NOT NULL,
    "Role" integer NOT NULL,
    "EmailVerificationToken" text,
    "IsEmailVerified" boolean NOT NULL,
    "PasswordResetToken" text,
    "PasswordResetRequestedAt" timestamp with time zone
);


--
-- Name: Accounts_AccountId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Accounts" ALTER COLUMN "AccountId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Accounts_AccountId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: EVRenters; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."EVRenters" (
    "RenterId" integer NOT NULL,
    "AccountId" integer NOT NULL,
    "LicenseNumber" text
);


--
-- Name: EVRenters_RenterId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."EVRenters" ALTER COLUMN "RenterId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."EVRenters_RenterId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Favorites; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Favorites" (
    "FavoriteId" integer NOT NULL,
    "AccountId" integer NOT NULL,
    "ModelId" integer NOT NULL,
    "FavoritedAt" timestamp with time zone NOT NULL
);


--
-- Name: Favorites_FavoriteId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Favorites" ALTER COLUMN "FavoriteId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Favorites_FavoriteId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Invoices; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Invoices" (
    "InvoiceId" integer NOT NULL,
    "ContractId" integer,
    "IssuedAt" timestamp with time zone NOT NULL,
    "AmountDue" numeric NOT NULL,
    "AmountPaid" numeric,
    "PaidAt" timestamp with time zone,
    "Status" integer NOT NULL,
    "OrderCode" integer,
    "BookingToken" text,
    "Note" text
);


--
-- Name: Invoices_InvoiceId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Invoices" ALTER COLUMN "InvoiceId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Invoices_InvoiceId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Ratings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Ratings" (
    "RatingId" integer NOT NULL,
    "ContractId" integer NOT NULL,
    "Stars" integer NOT NULL,
    "Comment" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


--
-- Name: Ratings_RatingId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Ratings" ALTER COLUMN "RatingId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Ratings_RatingId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: RentalContracts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."RentalContracts" (
    "ContractId" integer NOT NULL,
    "EVRenterId" integer NOT NULL,
    "StaffId" integer,
    "VehicleId" integer,
    "StationId" integer,
    "StartTime" timestamp with time zone NOT NULL,
    "EndTime" timestamp with time zone NOT NULL,
    "TotalCost" numeric,
    "Status" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "ImageUrlIn" text,
    "ImageUrlOut" text,
    "Note" text
);


--
-- Name: RentalContracts_ContractId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."RentalContracts" ALTER COLUMN "ContractId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."RentalContracts_ContractId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Staffs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Staffs" (
    "StaffId" integer NOT NULL,
    "AccountId" integer NOT NULL,
    "StationId" integer
);


--
-- Name: Staffs_StaffId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Staffs" ALTER COLUMN "StaffId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Staffs_StaffId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Stations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Stations" (
    "StationId" integer NOT NULL,
    "Name" text NOT NULL,
    "Address" text NOT NULL,
    "Latitude" double precision NOT NULL,
    "Longitude" double precision NOT NULL
);


--
-- Name: Stations_StationId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Stations" ALTER COLUMN "StationId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Stations_StationId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Transactions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Transactions" (
    "TransactionId" integer NOT NULL,
    "ContractId" integer NOT NULL,
    "Type" integer NOT NULL,
    "Amount" numeric(15,2) NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    "Note" character varying(1000) NOT NULL
);


--
-- Name: Transactions_TransactionId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Transactions" ALTER COLUMN "TransactionId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Transactions_TransactionId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: VehicleBrands; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."VehicleBrands" (
    "BrandId" integer NOT NULL,
    "Name" text NOT NULL
);


--
-- Name: VehicleBrands_BrandId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."VehicleBrands" ALTER COLUMN "BrandId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."VehicleBrands_BrandId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: VehicleModels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."VehicleModels" (
    "ModelId" integer NOT NULL,
    "Name" text NOT NULL,
    "BrandId" integer NOT NULL,
    "TypeId" integer NOT NULL,
    "ImageUrl" text,
    "PricePerHour" numeric DEFAULT 0.0 NOT NULL
);


--
-- Name: VehicleModels_ModelId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."VehicleModels" ALTER COLUMN "ModelId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."VehicleModels_ModelId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: VehicleTypes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."VehicleTypes" (
    "TypeId" integer NOT NULL,
    "Name" text NOT NULL
);


--
-- Name: VehicleTypes_TypeId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."VehicleTypes" ALTER COLUMN "TypeId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."VehicleTypes_TypeId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Vehicles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Vehicles" (
    "VehicleId" integer NOT NULL,
    "LicensePlate" text NOT NULL,
    "BatteryLevel" integer NOT NULL,
    "Status" integer NOT NULL,
    "StationId" integer,
    "ModelId" integer NOT NULL
);


--
-- Name: Vehicles_VehicleId_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Vehicles" ALTER COLUMN "VehicleId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Vehicles_VehicleId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


--
-- Name: playing_with_neon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.playing_with_neon (
    id integer NOT NULL,
    name text NOT NULL,
    value real
);


--
-- Name: playing_with_neon_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.playing_with_neon_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: playing_with_neon_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.playing_with_neon_id_seq OWNED BY public.playing_with_neon.id;


--
-- Name: playing_with_neon id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.playing_with_neon ALTER COLUMN id SET DEFAULT nextval('public.playing_with_neon_id_seq'::regclass);


--
-- Name: AccidentReports PK_AccidentReports; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AccidentReports"
    ADD CONSTRAINT "PK_AccidentReports" PRIMARY KEY ("AccidentId");


--
-- Name: AccountDocuments PK_AccountDocuments; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AccountDocuments"
    ADD CONSTRAINT "PK_AccountDocuments" PRIMARY KEY ("DocumentId");


--
-- Name: Accounts PK_Accounts; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Accounts"
    ADD CONSTRAINT "PK_Accounts" PRIMARY KEY ("AccountId");


--
-- Name: EVRenters PK_EVRenters; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EVRenters"
    ADD CONSTRAINT "PK_EVRenters" PRIMARY KEY ("RenterId");


--
-- Name: Favorites PK_Favorites; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Favorites"
    ADD CONSTRAINT "PK_Favorites" PRIMARY KEY ("FavoriteId");


--
-- Name: Invoices PK_Invoices; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoices"
    ADD CONSTRAINT "PK_Invoices" PRIMARY KEY ("InvoiceId");


--
-- Name: Ratings PK_Ratings; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Ratings"
    ADD CONSTRAINT "PK_Ratings" PRIMARY KEY ("RatingId");


--
-- Name: RentalContracts PK_RentalContracts; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RentalContracts"
    ADD CONSTRAINT "PK_RentalContracts" PRIMARY KEY ("ContractId");


--
-- Name: Staffs PK_Staffs; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Staffs"
    ADD CONSTRAINT "PK_Staffs" PRIMARY KEY ("StaffId");


--
-- Name: Stations PK_Stations; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Stations"
    ADD CONSTRAINT "PK_Stations" PRIMARY KEY ("StationId");


--
-- Name: Transactions PK_Transactions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Transactions"
    ADD CONSTRAINT "PK_Transactions" PRIMARY KEY ("TransactionId");


--
-- Name: VehicleBrands PK_VehicleBrands; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."VehicleBrands"
    ADD CONSTRAINT "PK_VehicleBrands" PRIMARY KEY ("BrandId");


--
-- Name: VehicleModels PK_VehicleModels; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."VehicleModels"
    ADD CONSTRAINT "PK_VehicleModels" PRIMARY KEY ("ModelId");


--
-- Name: VehicleTypes PK_VehicleTypes; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."VehicleTypes"
    ADD CONSTRAINT "PK_VehicleTypes" PRIMARY KEY ("TypeId");


--
-- Name: Vehicles PK_Vehicles; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Vehicles"
    ADD CONSTRAINT "PK_Vehicles" PRIMARY KEY ("VehicleId");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: playing_with_neon playing_with_neon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.playing_with_neon
    ADD CONSTRAINT playing_with_neon_pkey PRIMARY KEY (id);


--
-- Name: IX_AccidentReports_ContractId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_AccidentReports_ContractId" ON public."AccidentReports" USING btree ("ContractId");


--
-- Name: IX_AccidentReports_ReportedAt; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_AccidentReports_ReportedAt" ON public."AccidentReports" USING btree ("ReportedAt");


--
-- Name: IX_AccidentReports_StaffId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_AccidentReports_StaffId" ON public."AccidentReports" USING btree ("StaffId");


--
-- Name: IX_AccidentReports_Status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_AccidentReports_Status" ON public."AccidentReports" USING btree ("Status");


--
-- Name: IX_AccidentReports_VehicleId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_AccidentReports_VehicleId" ON public."AccidentReports" USING btree ("VehicleId");


--
-- Name: IX_AccountDocuments_AccountId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_AccountDocuments_AccountId" ON public."AccountDocuments" USING btree ("AccountId");


--
-- Name: IX_AccountDocuments_AccountId_Type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_AccountDocuments_AccountId_Type" ON public."AccountDocuments" USING btree ("AccountId", "Type");


--
-- Name: IX_AccountDocuments_StaffId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_AccountDocuments_StaffId" ON public."AccountDocuments" USING btree ("StaffId");


--
-- Name: IX_Accounts_Email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_Accounts_Email" ON public."Accounts" USING btree ("Email");


--
-- Name: IX_Accounts_IdentityCardNumber; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_Accounts_IdentityCardNumber" ON public."Accounts" USING btree ("IdentityCardNumber");


--
-- Name: IX_Accounts_PhoneNumber; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_Accounts_PhoneNumber" ON public."Accounts" USING btree ("PhoneNumber");


--
-- Name: IX_EVRenters_AccountId; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_EVRenters_AccountId" ON public."EVRenters" USING btree ("AccountId");


--
-- Name: IX_EVRenters_LicenseNumber; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_EVRenters_LicenseNumber" ON public."EVRenters" USING btree ("LicenseNumber");


--
-- Name: IX_Favorites_AccountId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Favorites_AccountId" ON public."Favorites" USING btree ("AccountId");


--
-- Name: IX_Favorites_ModelId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Favorites_ModelId" ON public."Favorites" USING btree ("ModelId");


--
-- Name: IX_Invoices_ContractId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Invoices_ContractId" ON public."Invoices" USING btree ("ContractId");


--
-- Name: IX_Ratings_ContractId; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_Ratings_ContractId" ON public."Ratings" USING btree ("ContractId");


--
-- Name: IX_RentalContracts_EVRenterId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_RentalContracts_EVRenterId" ON public."RentalContracts" USING btree ("EVRenterId");


--
-- Name: IX_RentalContracts_StaffId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_RentalContracts_StaffId" ON public."RentalContracts" USING btree ("StaffId");


--
-- Name: IX_RentalContracts_StationId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_RentalContracts_StationId" ON public."RentalContracts" USING btree ("StationId");


--
-- Name: IX_RentalContracts_VehicleId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_RentalContracts_VehicleId" ON public."RentalContracts" USING btree ("VehicleId");


--
-- Name: IX_Staffs_AccountId; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_Staffs_AccountId" ON public."Staffs" USING btree ("AccountId");


--
-- Name: IX_Staffs_StationId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Staffs_StationId" ON public."Staffs" USING btree ("StationId");


--
-- Name: IX_Transactions_ContractId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Transactions_ContractId" ON public."Transactions" USING btree ("ContractId");


--
-- Name: IX_VehicleModels_BrandId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_VehicleModels_BrandId" ON public."VehicleModels" USING btree ("BrandId");


--
-- Name: IX_VehicleModels_TypeId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_VehicleModels_TypeId" ON public."VehicleModels" USING btree ("TypeId");


--
-- Name: IX_Vehicles_LicensePlate; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IX_Vehicles_LicensePlate" ON public."Vehicles" USING btree ("LicensePlate");


--
-- Name: IX_Vehicles_ModelId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Vehicles_ModelId" ON public."Vehicles" USING btree ("ModelId");


--
-- Name: IX_Vehicles_StationId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IX_Vehicles_StationId" ON public."Vehicles" USING btree ("StationId");


--
-- Name: AccidentReports FK_AccidentReports_RentalContracts_ContractId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AccidentReports"
    ADD CONSTRAINT "FK_AccidentReports_RentalContracts_ContractId" FOREIGN KEY ("ContractId") REFERENCES public."RentalContracts"("ContractId") ON DELETE SET NULL;


--
-- Name: AccidentReports FK_AccidentReports_Vehicles_VehicleId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AccidentReports"
    ADD CONSTRAINT "FK_AccidentReports_Vehicles_VehicleId" FOREIGN KEY ("VehicleId") REFERENCES public."Vehicles"("VehicleId") ON DELETE RESTRICT;


--
-- Name: AccountDocuments FK_AccountDocuments_Accounts_AccountId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AccountDocuments"
    ADD CONSTRAINT "FK_AccountDocuments_Accounts_AccountId" FOREIGN KEY ("AccountId") REFERENCES public."Accounts"("AccountId") ON DELETE CASCADE;


--
-- Name: AccountDocuments FK_AccountDocuments_Staffs_StaffId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AccountDocuments"
    ADD CONSTRAINT "FK_AccountDocuments_Staffs_StaffId" FOREIGN KEY ("StaffId") REFERENCES public."Staffs"("StaffId");


--
-- Name: EVRenters FK_EVRenters_Accounts_AccountId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."EVRenters"
    ADD CONSTRAINT "FK_EVRenters_Accounts_AccountId" FOREIGN KEY ("AccountId") REFERENCES public."Accounts"("AccountId") ON DELETE CASCADE;


--
-- Name: Favorites FK_Favorites_Accounts_AccountId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Favorites"
    ADD CONSTRAINT "FK_Favorites_Accounts_AccountId" FOREIGN KEY ("AccountId") REFERENCES public."Accounts"("AccountId") ON DELETE CASCADE;


--
-- Name: Favorites FK_Favorites_VehicleModels_ModelId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Favorites"
    ADD CONSTRAINT "FK_Favorites_VehicleModels_ModelId" FOREIGN KEY ("ModelId") REFERENCES public."VehicleModels"("ModelId") ON DELETE CASCADE;


--
-- Name: Invoices FK_Invoices_RentalContracts_ContractId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoices"
    ADD CONSTRAINT "FK_Invoices_RentalContracts_ContractId" FOREIGN KEY ("ContractId") REFERENCES public."RentalContracts"("ContractId") ON DELETE CASCADE;


--
-- Name: Ratings FK_Ratings_RentalContracts_ContractId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Ratings"
    ADD CONSTRAINT "FK_Ratings_RentalContracts_ContractId" FOREIGN KEY ("ContractId") REFERENCES public."RentalContracts"("ContractId") ON DELETE CASCADE;


--
-- Name: RentalContracts FK_RentalContracts_EVRenters_EVRenterId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RentalContracts"
    ADD CONSTRAINT "FK_RentalContracts_EVRenters_EVRenterId" FOREIGN KEY ("EVRenterId") REFERENCES public."EVRenters"("RenterId") ON DELETE CASCADE;


--
-- Name: RentalContracts FK_RentalContracts_Staffs_StaffId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RentalContracts"
    ADD CONSTRAINT "FK_RentalContracts_Staffs_StaffId" FOREIGN KEY ("StaffId") REFERENCES public."Staffs"("StaffId");


--
-- Name: RentalContracts FK_RentalContracts_Stations_StationId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RentalContracts"
    ADD CONSTRAINT "FK_RentalContracts_Stations_StationId" FOREIGN KEY ("StationId") REFERENCES public."Stations"("StationId");


--
-- Name: RentalContracts FK_RentalContracts_Vehicles_VehicleId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RentalContracts"
    ADD CONSTRAINT "FK_RentalContracts_Vehicles_VehicleId" FOREIGN KEY ("VehicleId") REFERENCES public."Vehicles"("VehicleId");


--
-- Name: Staffs FK_Staffs_Accounts_AccountId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Staffs"
    ADD CONSTRAINT "FK_Staffs_Accounts_AccountId" FOREIGN KEY ("AccountId") REFERENCES public."Accounts"("AccountId") ON DELETE CASCADE;


--
-- Name: Staffs FK_Staffs_Stations_StationId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Staffs"
    ADD CONSTRAINT "FK_Staffs_Stations_StationId" FOREIGN KEY ("StationId") REFERENCES public."Stations"("StationId");


--
-- Name: Transactions FK_Transactions_RentalContracts_ContractId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Transactions"
    ADD CONSTRAINT "FK_Transactions_RentalContracts_ContractId" FOREIGN KEY ("ContractId") REFERENCES public."RentalContracts"("ContractId") ON DELETE CASCADE;


--
-- Name: VehicleModels FK_VehicleModels_VehicleBrands_BrandId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."VehicleModels"
    ADD CONSTRAINT "FK_VehicleModels_VehicleBrands_BrandId" FOREIGN KEY ("BrandId") REFERENCES public."VehicleBrands"("BrandId") ON DELETE CASCADE;


--
-- Name: VehicleModels FK_VehicleModels_VehicleTypes_TypeId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."VehicleModels"
    ADD CONSTRAINT "FK_VehicleModels_VehicleTypes_TypeId" FOREIGN KEY ("TypeId") REFERENCES public."VehicleTypes"("TypeId") ON DELETE CASCADE;


--
-- Name: Vehicles FK_Vehicles_Stations_StationId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Vehicles"
    ADD CONSTRAINT "FK_Vehicles_Stations_StationId" FOREIGN KEY ("StationId") REFERENCES public."Stations"("StationId");


--
-- Name: Vehicles FK_Vehicles_VehicleModels_ModelId; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Vehicles"
    ADD CONSTRAINT "FK_Vehicles_VehicleModels_ModelId" FOREIGN KEY ("ModelId") REFERENCES public."VehicleModels"("ModelId") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 60r9gSSlvZdEM1SImofoUACjCBGk8NOeWlKFa3h9PDechmQo1ahGbb0iSVWBF1S

